@page "/Account/Access-Denied"
@using NetcodeHub.Packages.UI.Templates.Breeze
@using WebUI.Components.Layout
@layout MainLayout

@*<TwoSectionsTemplate>
	<Col12Template>
		<div class="card">
			<div class="alert alert-warning">
				<h1>
					Sorry, you don't have access
				</h1>
			</div>

		</div>
	</Col12Template>
	<FooterTemplate><footer/></FooterTemplate>
</TwoSectionsTemplate>

*@